name: Update Battle Card
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-card:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install shot-scraper
        run: |
          pip install shot-scraper
          shot-scraper install
      - name: Take Screenshot
        run: |
          # Waits 15s to allow for API retries and targets specific element
          shot-scraper "https://yeetov.github.io/owbattlecard/?user=Aarontendo" --selector "#battleCard" -o profile-card.png --wait 15000
      - name: Commit and Push
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          git commit -m "Update Battle Card" || exit 0
          git push
